@import "tailwindcss";

@theme {
  /* This replaces the tailwind.config.js for v4 */
  --color-background: #0D0D0D;
  --color-card: #161616;
  --color-sidebar: #111111;
  --color-accent-green: #5EEAD4;
  --color-accent-red: #EF4444;
  --color-muted-text: #808080;
  
  --radius-arbitra: 24px;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
}